<aside class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-open]="isMobileOpen">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" *ngIf="!isCollapsed">
    <img src="assets/logo-small.png" alt="Logo" class="logo-small" *ngIf="isCollapsed">
  </div>

  <nav class="menu">
    <ul>
      <li *ngFor="let item of menuItems" [class.has-submenu]="item.submenu && item.submenu.length > 0">
        <a [routerLink]="item.route" routerLinkActive="active" (click)="onMobileItemClick()">
          <i [class]="item.icon"></i>
          <span *ngIf="!isCollapsed">{{ item.title }}</span>
          <i *ngIf="item.submenu && item.submenu.length > 0 && !isCollapsed" class="fas fa-chevron-down submenu-arrow"></i>
        </a>

        <ul *ngIf="item.submenu && item.submenu.length > 0 && !isCollapsed" class="submenu">
          <li *ngFor="let subItem of item.submenu">
            <a [routerLink]="subItem.route" routerLinkActive="active" (click)="onMobileItemClick()">
              <span>{{ subItem.title }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>

<!-- Mobile overlay -->
<div class="sidebar-overlay" [class.active]="isMobileOpen" (click)="onMobileItemClick()"></div>
